@media(max-width:991px){
    .container{
        max-width: 750px;
    }
        
}

@media(max-width:768px){
    .container{
        max-width: 600px;
    }
    .promo{
        &__wrapper{
            align-items:center;
        }
    }
    .header{
        &__logo{
            width: 175px;
        }
        &__official{
            font-size: 12px;
            span{
                font-size: 16px;
            }
        }
    &__phone{
            font-size: 14px;
            font-weight: 600;
        }
    }
    .advantages{
        &__h3{
            font-size: 15px;
        }
    }
}

@media(max-width:576px){
    .container{
        max-width: 300px;
    }
    .button{
        width: 100px;
        height: 20px;
        font-size: 8px;
        &_main{
            width: 200px;
            height: 40px;
            font-size: 14px;
        }
        &_submit{
            width: 100%;
            height: 55px;
            font-size: 14px;
        }
    }
    .promo{
        &__header{
            text-align: center;
            font-size: 26px;
        }
        &__subheader{
            text-align: center;
            font-size: 18px;
            margin-top: 10px;
        }
        &__icons{
            width: 300px;
        }
        &__subheader{
            margin-top: 10px;
        }
        &__wrapper{
            align-items:center;
        }
    }
    .header{
        &__logo{
            width: 100px;
        }
        &__official{
            font-size: 8px;
            span{
                font-size: 12px;
            }
        }
        &__phone{
            font-size: 10px;
            font-weight: 500;
        }
    }
    .advantages{
        &__wrapper{
            margin-top: 0;
            align-items:center;
            flex-direction: column;
        }
        &__img{
            margin-top: 50px;
        }
        &__h3{
            font-size: 15px;
        }
    }
}

@media(max-width:375px){
    .container{
        max-width: 275px;
    }
    .button{
        width: 100px;
        height: 20px;
        font-size: 8px;
        &_main{
            width: 200px;
            height: 40px;
            font-size: 14px;
        }
        &_submit{
            width: 95%;
            height: 55px;
            font-size: 14px;
        }
    }
    .promo{
        &__header{
            text-align: center;
            font-size: 26px;
        }
        &__subheader{
            text-align: center;
            font-size: 18px;
            margin-top: 10px;
        }
        &__icons{
            width: 300px;
        }
        &__subheader{
            margin-top: 10px;
        }
        &__wrapper{
            align-items:center;
        }
    }
    .header{
        &__logo{
            width: 100px;
        }
        &__official{
            font-size: 8px;
            span{
                font-size: 12px;
            }
        }
        &__phone{
            font-size: 10px;
            font-weight: 500;
        }
    }
    .advantages{
        &__wrapper{
            margin-top: 0;
            align-items:center;
            flex-direction: column;
        }
        &__img{
            margin-top: 50px;
        }
        &__h3{
            font-size: 15px;
        }
    }
    .feed-form{
        input{
            width: 95%;
        }
    }
}
